<style type="text/css" rel="stylesheet">

.warn { background-color:#F5A796; border-radius: 0.2cm; padding: 0.3cm;}
.info { background-color:#E6F0FF; border-radius: 0.2cm; padding: 0.3cm;}

.red { background-color:#F5A796; border-radius: 0.2cm; padding: 0.3cm;}
.blue { background-color:#E6F0FF; border-radius: 0.2cm; padding: 0.3cm;}
.gray { background-color:#ECE8E7; border-radius: 0.2cm; padding: 0.3cm;}

.blueborder { border-radius: 0.2cm; padding: 0.3cm; border: 0.1cm solid #E6F0FF; }
.redborder { border-radius: 0.2cm; padding: 0.3cm; border: 0.1cm solid #F5A796; }
.grayborder { border-radius: 0.2cm; padding: 0.3cm; border: 0.1cm solid #ECE8E7; }
.blackborder { border-radius: 0.2cm; padding: 0.3cm; border: 0.1cm solid #000000; }

:root {
  --thumb-width: 280px;
  --thumb-border: 1px solid green;
  --thumb-box-shadow: 0px 0px 1.5vw rgba(0,0,0,1);
  --thumb-margin: 10px 10px 10px 10px;
  --lb-width: 100%;
  --lb-background: rgba(0,0,.3,0.4);
  --lb-border: 1px solid red;
  --img-width: 65%;
  --img-border: 1px solid black;
  --img-box-shadow: 0.3vw 0.3vw 0.3vw rgba(0,0,0,0.7);
}

/* lightbox concept adapted from:
https://codepen.io/ongtiffany/pen/BoOeQV
*/

/* Styles the thumbnail */
.thumb{
    display: inline-block;
    text-align: center;
    margin: var(--thumb-margin);
}

.thumb img {
  width: var(--thumb-width);
  left: calc((100% - var(--thumb-width)) * 0.5);
  border: var(--thumb-border);
  box-shadow: var(--thumb-box-shadow);
  margin: var(--thumb-margin);
  display: block;
}

/* Styles the lightbox, removes it from sight and adds the fade-in transition */
.lb {
  position: fixed; top: -100%;
  width: var(--lb-width); height: auto;
  background: var(--lb-background); opacity: 0.3;
  overflow: auto;
}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */
.lb img {
  position: absolute; object-fit: contain;
  top: 0; left:0; right: 0; bottom: 0;
  width: var(--img-width); height: auto;
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */
.lb:target { opacity: 1; top: 0; bottom: 0; }
.lb:target img { max-height: 100%; max-width: 100%; }
.lb:target .lightbox-close { top: 0; }

.lb-close {
  position: absolute; display: block;
  width:100%; height:100%;  top: 0; right: 0;
  box-sizing: border-box; background: transparent;
  color: black;  text-decoration: none;
}

</style>
